<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.esb.quicklist">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuickList">

        <!-- Login Activity (Launcher) -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- SignUp Activity -->
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />

        <!-- ForgotPassword Activity -->
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />

        <!-- CreateList Activity -->
        <activity
            android:name=".CreateListActivity"
            android:exported="false" />

        <!-- JoinList Activity -->
        <activity
            android:name=".JoinListActivity"
            android:exported="false" />

        <activity
            android:name=".ViewListsActivity"
            android:exported="false" />
        <activity
            android:name=".ManageListsActivity"
            android:exported="false" />
        <activity
            android:name=".AdminDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ManageListActivity"
            android:exported="false" />
        <activity android:name=".ShoppingListDetailActivity" />

    </application>

</manifest>